@import "tailwindcss";
@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/Fonts/plus-jakarta-sans/PlusJakartaSans[wght].ttf);
}

.navFont {
    font-family: Plus Jakarta Sans;
}

table, th, td, tr {
    /* border: 1px solid black; */
    text-align: left;
    width: 1000px;
}
th {
    padding-bottom: 25px;
    font-size: 18px;
}
td {
    padding-bottom: 15px;
    font-size: 14px;
    color: #444444; 
}